body, div, ul, ol, li, h1, h2, h3, form, fieldset, input, textarea, p, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, em, strong, th,{
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, {
	font-weight: normal;
	font-size: 100%;
	}
	/*=========RESET ^^ END==============*/
	
	html { 
	
	
	} 
	
	body { 
	
	
	} 
	
	
	/*******************************************************************
	LAYOUT
	*******************************************************************/
	
	div { 
	
	
	} 
	
	span { 
	
	
	} 
	
	.reqpar { 
	
	
	} 
	
	.req { 
	
	
	} CONTACT US ABOVE!!!
	
	html { 
	
	
	} 
	
	body { 
	
	
	} 
	
	
	/*******************************************************************
	LAYOUT
	*******************************************************************/
	
	div { 
	
	
	} 
	
	#intro { 
	
	
	} 
	
	.wrapper { 
	
	
	} 
	
	DOG WALKING ABOVE!!!!
	
	html { 
	
	
	} 
	
	body { 
	
	
	} 
	
	
	/*******************************************************************
	LAYOUT
	*******************************************************************/
	
	div { 
	
	
	} 
	
	#gallery { 
	
	
	} 
	
	header { 
	
	
	} 
	
	nav { 
	
	
	} 
	
	footer { 
	
	
	} 
	
	
	/*******************************************************************
	LINKS
	*******************************************************************/
	
	a { 
	
	
	} 
	
	
	/*******************************************************************
	TYPOGRAPHY
	*******************************************************************/
	
	h1 { 
	
	
	} 
	
	
	/*******************************************************************
	LISTS
	*******************************************************************/
	
	ul { 
	
	
	} 
	
	li { 
	
	
	} 
	
	
	/*******************************************************************
	IMAGES, VIDEO & AUDIO
	*******************************************************************/
	
	img { 
	
	
	} 
	
	GALLERY ABOVE!!!!
	
	html { 
	
	
	} 
	
	body { 
	
	
	} 
	
	
	/*******************************************************************
	LAYOUT
	*******************************************************************/
	
	div { 
	
	
	} 
	
	.fb-like { 
	
	
	} 
	
	INDEX & Pet Sitting ABOVE!!!
	html { 
	
	
	} 
	
	body { 
	
	
	} 
	
	
	/*******************************************************************
	LAYOUT
	*******************************************************************/
	
	div { 
	
	
	} 
	
	#about { 
	
	
	} 
	
	#reviews { 
	
	
	} 
	
	header { 
	
	
	} 
	
	nav { 
	
	
	} 
	
	footer { 
	
	
	} 
	
	
	/*******************************************************************
	LINKS
	*******************************************************************/
	
	a { 
	
	
	} 
	
	
	/*******************************************************************
	TYPOGRAPHY
	*******************************************************************/
	
	h1 { 
	
	
	} 
	
	h2 { 
	
	
	} 
	
	p { 
	
	
	} 
	
	
	/*******************************************************************
	LISTS
	*******************************************************************/
	
	ul { 
	
	
	} 
	
	li { 
	
	
	} 
	
	
	/*******************************************************************
	IMAGES, VIDEO & AUDIO
	*******************************************************************/
	
	img { 
	
	
	} 
	
	ABOUT ABOVE!!!!!