body, div, ul, ol, li, h1, h2, h3, form, fieldset, input, textarea, p, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, em, strong, th,{
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, {
	font-weight: normal;
	font-size: 100%;
	}
	/*=========RESET ^^ END==============*/
	
	
	body{ 
	/*max-width: 800px;*/
	background-image: url("../images/linen_bg.jpg");
	max-width: 1000px;
	} 
	header img, footer img{
		max-width:1000px;
		padding-bottom: 10px;
	}
	   
	h1, h2, section{ 
	max-width: 900px;
	
	}
	.visit{
		padding-top: 35px;
	}
	
	/*==================Pet Sitting ^^^ Dog Walking=============*/
	section{
		padding-top: 10px;
		max-width: 400px;	
		float: left;
		padding-left:40px;
		margin-left:20px;
	}
	
	header img{
		
		/*max-width: 800px;*/
	}
	
	footer img{
		/*max-width: 800px;*/
		
	}
	
	#prices{
		max-width: 400px;	
		float: right;
		padding-right: 40px;
		margin-right:20px;
		
	}
	#prices img{
		padding-top: 10px;
	}
	
	/*==================CONTACTUS-below============================*/
	
	#contact{

		max-width: 400px;
		text-align: left;
		margin: 20px;
		float: left;
		padding-left: 400px;
		
	}
	
	#contact_form h2{
		
		padding-top: 20px;
		margin: 10px;
		
	}
	
	div{
		padding: 5px;
		
	}
	
	nav{
		padding-bottom: 40px;
	}
	
	.reqpar{
		color: red;
	
	}
	
	
	/*===========INDEX ^^=================*/
	
	.home{
	margin: 10px 20px auto;
	max-width: 500px;
	
		padding-left:50px;
	}
	.home img{
	margin-left: 50px;
		float: right;
		border: 3px solid #000;
		
	}
	
	.wrapper{
		max-width: 900px;
	}
	
	/*=========NAV+START========*/
	nav ul{
	width: 700px;
	float: right;
	margin: 5px;
	padding-right: 40px;
	overflow: hidden;
	}
	nav ul li{
	width:100px;
	padding: 5px;
	float:left;
	font-size: 16px;
	
	}
	a:link{
	color: navy;
	font-family: 'marker felt', sans-serif;
	text-decoration: none;
	text-align: left;
}
	
	a:hover{
	color: #3333ff;
	text-decoration: underline;
	font-family: 'marker felt', sans-serif;
	background-color: green;
	
	
	}
	  a:active{
	color:#ff6666;
	text-decoration: none;
	font-family: 'marker felt', sans-serif;
	background-color: red;
}
		
	  a:visited{
	color:#666;
	text-decoration:none;
	font-family: 'marker felt', sans-serif;
	
		}
		
		
	nav a{
	text-decoration: none;
	display: inline;
	height:30px;
	line-height:30px;
	text-align: left;
	}

	/*=========NAV+END==========*/

	/*==========About US=========*/

	#about{
		
		max-width: 80%;
		max-height: 270px;
		margin:30px;
		float:left;
	}
	#about img{
		
		float: right;
		padding-bottom: 40px;
		
	}
	#reviews{
		max-width: 300px;
		padding-left: 60px;
		padding-bottom: 40px;
	}


