/*=============RESET===============*/
body, div, ul, ol, li, h1, h2, h3, form, fieldset, input, textarea, p, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, em, strong, th,{
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, {
	font-weight: normal;
	font-size: 100%;
}
/*=============END===============*/
/*=======NAVBAR==============*/

nav ul{
	text-decoration: none;
	width: 700px;
	float: right;
	margin: 5px;
	padding-right: 40px;
	overflow: hidden;
	}

	nav ul li{
	text-decoration: none;
	list-style: none;
	width:100px;
	padding: 5px;
	float:left;
	font-size: 16px; 
	
	
	}
	a:link{
	color: #444;
	font-family: 'marker felt', sans-serif;
	text-decoration: none;
	text-align: left;
}
	
	a:hover{
	color: #999999;
	text-decoration: underline;
	font-family: 'marker felt', sans-serif;
	
	
	
	}
	  a:active{
	color:#ff6666;
	text-decoration: none;
	font-family: 'marker felt', sans-serif;
	background-color: #cccc99;
}
		
	  a:visited{
	color:#cc9966;
	text-decoration:none;
	font-family: 'marker felt', sans-serif;
	background-color: ;
}

}

/*=========END===========*/
/*=============INDEX==============*/
 html{
		background-color: #cc9966;
	 width: 1500px;

	}

 .wrapper{
		margin-left:120px;
		max-width: 900px;
		background-image: url(../images/linen_bg.jpg);
		
	}
	#list{
		background-image: url(../images/linen_bg.jpg);
		width: 800px;
		margin-right: 30px;
		text-align: center;
		float: right;


	}


 /*============END==========*/
 /*============ABOUTUS=============*/
#about{
		max-width: 700px;
		background-image: url(../images/linen_bg.jpg);
		text-align: left;
		padding:25px;
	}
	#about img{

		float: right;
		
		
	}
	#about h1{
		padding-top: 15px;

	}
	


 /*==============END============*/
 /*==============PETSITTING=============*/
#prices h1{
 padding-top: 25px;
}


ul{
	text-align:  center;

}
#prices img{
	float:right;

}
#prices{
	max-width: 400px;
	float:right;
	margin:20px;

}
#visit{
	padding-top: 25px;
	max-width: 400px; 
	float: left;
	margin:20px;

}



 /*===============END================*/

 /*============GALLERY=============*/

 #gallery img{
 	float: right;
 	padding:10px;
 }
#gallery{
	text-align: center;
	padding-top:45px;
	list-style-type: none;
	max-width: 700px;


	background-image: url(../images/linen_bg.jpg);
}


 h1, h2 {
 	font-family: 'marker felt', sans-serif;
 	text-align: center;
 	padding-top: 5px;
 }

 /*==============END============*/

 /*=============DOGWALKING=============*/

#intro{
	padding-top: 10px;
	margin:20px;
	max-width: 700px;
	padding-right: 55px;
	float: right;
	text-indent: 10px;

}

span{
	padding-top: 15px;
	font-size: 24px;
	font-weight: bold;
	float: right;
}


 /*===================END==============*/
 /*===========CONTACTUS=================*/

#contact{
		background-image: url(../images/linen_bg.jpg);
		max-width: 400px;
		text-align: right;
		
		padding-right:80px;
		border:5px solid #333;
			
		
	}
	
	#contact_form h2{
		padding-top: 30px;
		margin: 15px;

		
	}
	
	div{
		padding: 5px;
		text-align: center;
		
	}
	
	nav{
		padding-bottom: 40px;
	}
	
	.reqpar{
		display: none;
	
	}

.req{
	display: none;

}








 /*===============END===============*/

